apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
  namespace: cert-manager
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email:  ipeletrico@gmail.com
    privateKeySecretRef:
      name: letsencrypt-tls # Pode colocar qualquer nome aqui, é o nome do segredo onde a chave privada será armazenada
    solvers:
    - http01:
        ingress:
          class: nginx